body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode";
    color: #828282;
}

h1 {
    font-family: "Lucida Sans Unicode";
    text-transform: uppercase;
}

.header {
    position: sticky;
    top: 0;
    width: 100%; /* Шапка займёт всю ширину окна браузера */
    height: auto;
    z-index: 10; /* Высокое значение, чтобы шапка была всегда на первом плане */
    background-image: url("img/header-bg.png");
    border-bottom: 3px solid white;
  }

  .header-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode";
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
  }
  
  .header-link:hover {
    color: #e9e9e9;
    background-size: 100% 2px;
  }

  nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.add {
    display: inline;
    margin: 0 -5px;
}

/* Slider */

/* Собственно сам слайдер */
.slider{
    overflow: hidden;
  max-width: 100%;
  position: relative;
  margin: auto;
  height: auto;
  margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
  object-fit: cover;
  width: 50%;
  height: auto;
  border: none !important;
  box-shadow: none !important;
  border-radius: 15px;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
  cursor: pointer;
    position: absolute;
    width: auto;
  top: 0;
  top: 50%;
  margin-top: -22px;
  padding: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .prev{
   left: 10px;
}      
    
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(144, 205, 255, 0.8);
}
/* Заголовок слайда */
.slideText {
  position: absolute;
  color: #fff;
  font-size: 35px;
  /* Выравнивание текста по горизонтали и по вертикали*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Тень*/
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
  text-align: center;
}
.slider-dots_item{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #949eb9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
  background-color: #395a8a;
}
/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}
@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

/* Кнопка наверх */

.btn-up {
    /* фиксированное позиционирование */
    position: fixed;
    /* цвет фона */
    background-color: rgb(0, 97, 158);
    /* расстояние от правого края окна браузера */
    right: 20px;
    /* расстояние от нижнего края окна браузера */
    bottom: 0;
    /* скругление верхнего левого угла */
    border-top-left-radius: 8px;
    /* скругление верхнего правого угла */
    border-top-right-radius: 8px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 60px;
    /* высота элемента */
    height: 50px;
  }
  
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
    display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: rgb(8, 48, 133); /* цвет заднего фона при наведении */
    }
  }

/* Banner */

#container {
    position: relative;    
}

#example {
   position: absolute;
   margin-top: -4%;
   left: 14%; 
}

/* 6 initiatives */

.ivents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.ivent {
    flex: 0 0 30%;
    margin: 1rem 0;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 10px;
}

.ivent img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #008cba;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #008cba;
}

.btn:hover {
    color: rgb(0, 74, 134);
    background-color: #ffffff;
}

.btn-footer {
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
}

.btn-footer:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

/* modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin-left: 10%;
    margin-top: 400px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* modal-form */
/* Стили для модального окна */
.modal7 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content7 {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
  }
  
  .close7 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close7:hover,
  .close7:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } 

/* Стили для кнопок */
input[type="submit"],
input[type="reset"] {
  background-color: #004ec2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0069d9;
}

/* Стилизация для label */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Стилизация для input */
  input[type="text"] {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Стилизация для select */
  select {
    width: 52%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Стилизация для input type="date" */
input[type="date"] {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

/* footer */

footer {
  background-image: url("img/Rectangle 7.png");
}